@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Cubic 11';
  src: url('/Cubic_11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: "Cubic 11", "Press Start 2P", cursive;
}

@layer base {
  body {
    font-family: var(--font-pixel);
    image-rendering: pixelated;
    font-size: 30px;
    @apply antialiased text-gray-900 bg-gray-100;
  }
}